@import '../../../variables';

.header {
  background-color: $header-bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $header-height;

  > .banner {
    height: $header-height;
    width: $header-width;
  }

  > .banner {
    background-image: url('../../../assets/wallpaper.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: color;
  }

  > h1 {
    position: absolute;
    top: initial;
    color: $header-font-color;
    font-size: 3rem;
    text-transform: uppercase;
    text-shadow: $text-shadow;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    height: $header-height-mobile;
    position: relative;
    top: $header-height-mobile-offset;

    > .banner {
      height: $header-height-mobile;
      background-size: 150%;
    }
  }

}


