@import '../../../variables';

.login-header {
  z-index: 3;
  position: absolute;
  width: 100%;

  .logo {
    float: left;
    padding: 1rem;

    img.marvel-logo {
      height: 50px;
    }
  }

  .log-in {
    float: right;
    padding: 1rem;

    button.skewed {
      transform: skewX(-20deg);
      cursor: pointer;
      color: white;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      background-color: $button-color;
      box-shadow: 2px 2px 7px 0 rgba(127, 127, 127, 0.5);;
      outline: none;
      border: none;
      transition: transform 0.2s ease-out;

      &:hover {
        opacity: 1;
        transform: skewX(-20deg) scale3d(1.05, 1.05, 1);
        transition: transform 0.2s ease-out;
        background-color: $button-color-hover;
      }

      span {
        display: inline-block;
        transform: skewX(20deg);
      }
    }
  }

  .profile {
    float: right;
    padding: 1rem;

    button.skewed {
      transform: skewX(-20deg);
      cursor: pointer;
      color: white;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      background-color: $button-color;
      box-shadow: 2px 2px 7px 0 rgba(127, 127, 127, 0.5);
      outline: none;
      border: none;
      transition: transform 0.2s ease-out;

      &:hover {
        opacity: 1;
        transform: skewX(-20deg) scale3d(1.05, 1.05, 1);
        transition: transform 0.2s ease-out;
        background-color: $button-color-hover;
      }

      span {
        display: inline-block;
        transform: skewX(20deg);
      }
    }
  }
}

@media only screen and (max-width: 600px) {

  .login-header {
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: $bg-color;
    height: $header-height-mobile-offset;
    box-shadow: $box-shadow;

    .profile {
      float: initial;
      padding: 0.25rem;

      button.skewed {
        margin: initial;
        background-color: $button-color-hover;
      }
    }

    .log-in {
      float: initial;
      padding: 0.25rem;

      button.skewed {
        margin: initial;
        background-color: $button-color-hover;
      }
    }
  }
}
