<a routerLink="/">
  <button class="back">&#8678; Back</button>
</a>
<div class="character-panel">
  <div class="character-thumbnail">
    <div class="character-pic"
         [ngStyle]="{ 'background-image': 'url(' + (characterImage !== null ? characterImage : '../../../assets/no-character.jpg') + ')'}">
      <div *ngIf="pageVisits >= 0" class="page-visits">
        <div class="counter" [countUp]="pageVisits"
             [reanimateOnClick]="false"
             [options]="{useGrouping: false}"
             (complete)="countOneUp()"></div>
        <p class="plus-one" *ngIf="shouldAnimate">+1</p>
      </div>
    </div>
  </div>
  <ng-content select="[slot=favorite-component]"></ng-content>
  <ng-content select="[slot=rating-component]"></ng-content>
  <div *ngIf="characterDescription" class="character-description">
    <h3>{{characterName}}</h3>
    <p>{{characterDescription}}</p>
  </div>
  <div class="character-footer">
    <button *ngIf="characterWikiUrl" class="skewed" (click)="openWikiLink()">
      <span>More Info</span>
    </button>
  </div>
</div>

