@import '../../../variables';

button.back {
  width: 100%;
  opacity: 0.6;
  cursor: pointer;
  padding: 1rem;
  color: white;
  font-size: 1rem;
  border: none;
  background-color: rgb(183, 29, 37);
  outline: none;
  transition: 0.2s ease-out;

  &:hover {
    opacity: 1;
    transition: 0.2s ease-out;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

.character-panel {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .character-thumbnail {

    .character-pic {
      border-radius: 50%;
      -webkit-box-shadow: $box-shadow;
      -moz-box-shadow: $box-shadow;
      box-shadow: $box-shadow;
      min-width: 250px;
      min-height: 250px;
      background-size: cover;
      border: 0.25rem solid white;
      margin: 1rem;
    }

    .page-visits {
      position: relative;
      left: 180px;
      top: 10px;
      font-size: 1rem;
      font-weight: bold;
      border-radius: 50%;
      background-color: rgb(183, 29, 37);
      border: 5px solid rgb(183, 29, 37);
      color: white;
      padding: 0.5vw;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      -webkit-box-shadow: $box-shadow;
      -moz-box-shadow: $box-shadow;
      box-shadow: $box-shadow;

      .counter {
        overflow: visible;
        height: 0;
        margin-top: -1rem;
      }
    }

    .page-visits:after {
      content: '';
      display: block;
      height: 0;
      width: 100%;
      padding-bottom: 100%;
    }
  }

  p.plus-one {
    position: absolute;
    line-height: 0;
    margin: 0;
    padding: 0;
    font-size: 5rem;
    color: black;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    animation: moveUp 2s ease-out;
    opacity: 0;
  }

  @keyframes moveUp {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-200px);
      opacity: 0;
    }
  }
}

.favorite {
  margin: 0 1rem;
  z-index: 1;
  padding: 0 1rem;
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
  background-color: white;
  position: relative;
  top: 0;
  width: 220px;
  text-align: center;
}

.character-description {
  margin: 0 1rem;
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
  z-index: 1;
  padding: 0 1rem;
  background-color: white;
  position: relative;
  top: 4vh;
  width: 220px;

  h3 {
    color: $font-color;
  }

  p {
    color: $font-color;
  }
}


.character-footer {
  position: relative;
  top: 5vh;
  z-index: 1;
}

button.skewed {
  transform: skewX(-20deg);
  opacity: 0.6;
  cursor: pointer;
  color: white;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: rgb(183, 29, 37);
  box-shadow: 2px 2px 7px 0 rgba(127, 127, 127, 0.5);;
  outline: none;
  border: none;
  transition: transform 0.2s ease-out;

  &:hover {
    opacity: 1;
    transform: skewX(-20deg) scale3d(1.05, 1.05, 1);
    transition: transform 0.2s ease-out;
  }

  span {
    display: inline-block;
    transform: skewX(20deg);

  }
}


@media only screen and (max-width: 600px) {

  .character-panel {
    margin-bottom: 2rem;

    .character-thumbnail {

      .character-pic {
        width: 65vw;
        height: 65vw;
      }

      .page-visits {
        left: 50vw;
        top: 2vh;
        padding: 1vw;

        .counter {
          overflow: visible;
          height: 0;
          margin-top: -1rem;
        }
      }
    }
  }

  .character-description {
    width: 80vw;
  }

  .favorite {
    width: 80vw;
  }

}








