@import '../../../variables';

@keyframes heart-add-to-favorites {
  0% {
    color: violet;
  }
  16.6% {
    color: indigo;
  }
  33.2% {
    color: blue;
  }
  49.8% {
    color: green;
  }
  66.4% {
    color: yellow;
  }
  83% {
    color: orange;
  }
  100% {
    color: red;
  }
}

@keyframes heart-remove-from-favorites {
  0% {
    color: #dddddd;
  }
  100% {
    color: #555555;
  }
}

.favorite {
  text-align: center;
  position: relative;
  top: -35px;
  height: 0;

  .favorite-heart-full {
    color: $button-color-favorite;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: white;
    padding: 12px 14px 12px 14px;
    border-radius: 50%;
    box-shadow: $box-shadow;

    &:hover {
      animation: heart-remove-from-favorites 1s infinite alternate;
    }
  }

  .favorite-heart-empty {
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: white;
    padding: 12px 14px 12px 14px;
    border-radius: 50%;
    box-shadow: $box-shadow;

    &:hover {
      animation: heart-add-to-favorites 1s infinite;
    }
  }
}

@media only screen and (max-width: 600px) {
  .favorite {
    width: 80vw;
  }
}
