@import '../../../variables';

.favorite {
  text-align: center;
  position: relative;
  top: -35px;
  height: 0;

  .favorite-heart-full {
    color: $button-color-favorite;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: white;
    padding: .75rem;
    border-radius: 50%;

    &:hover {
      color: darkred;
    }
  }

  .favorite-heart-empty {
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: white;
    padding: .75rem;
    border-radius: 50%;

    &:hover {
      color: darkred;
    }
  }



}

@media only screen and (max-width: 600px) {
  .favorite {
    width: 80vw;
  }
}
