@import '../../../variables';

.error {
  color: $error-font-color;
}

.character-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  background-color: $bg-color;

  p {
    color: $font-color;
  }
;
}


