@import '../../../variables';

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

li {
  margin: 0.25rem;
  border: 1px solid black;
  padding: 0.25rem;
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
}

p {
  padding: 0;
  margin: 0;
}

.button {
  background-color: rgb(127, 25, 26);
  border: none;
  color: white;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  transition: transform 0.2s ease-out;

  &:hover {
    background-color: rgb(157, 25, 26);
    cursor: pointer;
    transform: scale3d(1.05, 1.05, 1);
    transition: transform 0.2s ease-out;
  }
}

.current-total-pages {
  border: none;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  p {
    padding: 0;
    margin: 0;
    color: $font-color
  }
}

.disabled {
  color: white;
  background-color: $link-disabled-color;

  &:hover {
    cursor: default;
    background-color: $link-disabled-color;
    transform: scale3d(1, 1, 1);
  }

  p {
    padding: 0;
    margin: 0;
  }
}
