<app-header-login></app-header-login>
<app-header pageTitle="Characters"></app-header>

<app-search
  [searchTerm]="searchTerm"
  [searchResults]="searchResults$ | async"
  (searchChange)="onSearchQueryChange($event)"
  (searchClick)="onSearchResultClick($event)"
  (searchEnter)="onKeyDownEnter()"
>
</app-search>

<app-character-list *ngIf="(characters$ | async) && (characters$ | async).results"
                    [characters]="(characters$ | async).results"></app-character-list>

<app-pagination *ngIf="characters$ | async"
                [total]="(characters$ | async).total"
                [limit]="(characters$ | async).limit"
                [offset]="(characters$ | async).offset"
                (pageChange)="onPageChange($event)">
</app-pagination>

