// header
$header-height: 200px;
$header-height-mobile: 160px;
$header-width: 100%;
$header-height-mobile-offset: 60px;

// hover color for list elements
$list-hover-color: #dddddd;

// link disabled color
$link-disabled-color: #808080;

// box and drop shadows
$box-shadow: 1px 1px 5px 0 rgba(127, 127, 127, 0.5);
$text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75);

// background colors
$search-area-bg-color: #eeeeee;
$search-result-bg-color: #ffffff;
$header-bg-color: #F93038;
$bg-color: #eeeeee;
$bg-color-dark: #cccccc;
$character-card-bg-color: #ffffff;

// font colors
$header-font-color: #ffffff;
$error-font-color: #ff0000;
$font-color: #555555;

// images
$comic-thumbnail-size: 200px;
