@import "src/variables";

.rating-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: white;
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
  width: 20vw;
  position: relative;
  top: 1rem;
  padding: 1rem;

  p {
    color: $font-color;
    margin: 0.25rem 0;
  }
}

button.delete-voting {
  transform: skewX(-20deg);
  opacity: 0.6;
  cursor: pointer;
  color: white;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: rgb(183, 29, 37);
  box-shadow: 2px 2px 7px 0 rgba(127, 127, 127, 0.5);;
  outline: none;
  border: none;
  transition: transform 0.2s ease-out;

  &:hover {
    opacity: 1;
    transform: skewX(-20deg) scale3d(1.05, 1.05, 1);
    transition: transform 0.2s ease-out;
  }

  span {
    display: inline-block;
    transform: skewX(20deg);

  }
}


.star-ratings-css {
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  position: relative;
  line-height: 1;

  &-vote {
    padding: 0;
    position: absolute;
    z-index: 2;
    display: block;
    top: 0;
    left: 0;

    span {
      opacity: 0;
    }

    span:hover {
      opacity: 100%;
      color: darkred;
      cursor: pointer;
    }
  }

  &-top {
    color: rgb(183, 29, 37);
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    overflow: hidden;
  }

  &-bottom {
    padding: 0;
    display: block;
    z-index: 0;
  }
}

@media only screen and (max-width: 600px) {
  .rating-container {
    width: 80vw;
  }
}

